<div class="container">
    <h2>Dashboard</h2>
    <p>Welcome, <%= user.name.charAt(0).toUpperCase() + user.name.slice(1) %>!</p>
    <p>Your email is: <%= user.email %></p>
    <a href="/auth/logout" class="btn btn-primary">Logout</a>
</div>
