<div class="container">
    <h2>Dashboard</h2>
    <h4>Namaste,
        <strong class="text-danger"><%= user.name %></strong>
    </h4>
    <%- include('partials/_formFields', { url: `/users/${user.id}` }) %>

    <!-- Include the delete form partial and pass user data -->
    <%- include('partials/deleteForm', { url: `/users/${user.id}` }) %>

    <a href="/users/logout" class="btn btn-primary">Logout</a>
</div>
