<h2>Login</h2>
<form action="/users/login" method="POST">
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" name="email" required>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" required>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
    <!-- register page -->
    <p>
        Don't have an account? 
        Click <a href="/users/register">here</a> to register 
    </p>

    <!-- forgot password page -->
    <p>
        Forgot your password? 
        Click <a href="/users/email-confirmation">here</a> to reset your password
</form>
