<body>
    <!-- input new password -->
    <form action="/auth/reset-password/<%= token %>" method="post">
        <label for="password">New Password:</label>
        <input type="password" id="password" name="password" required>
        <label for="passwordConfirmation">Confirm New Password:</label>
        <input type="password" id="passwordConfirmation" name="passwordConfirmation" required>
        <button type="submit">Reset Password</button>
    </form>
</body>